.toggleContainer {
  display: flex;
  justify-content: center;
  margin-top: 55px;
}

.content {
  display: flex;
  justify-content: center;
  background-color: #161932;
  border-radius: 48px;
  padding: 12px;
  width: fit-content;
  z-index: 99;
}

.toggleButton {
  background-color: transparent;
  color: #d7e0ff40;
  border: none;
  padding: 10px 20px;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: 14px;
  font-weight: 700;
  line-height: 17.36px;
  text-align: left;
}

.toggleButton.active {
  background-color: #f87070;
  color: #1e213f;
}

.toggleButton:hover {
  color: #d7e0ff;
}
